# Introdução a sistemas de recomendação

### Bibliotecas básicas

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

### Carregamento dos dados

In [2]:
filmes = pd.read_csv('./dataset/movies.csv')
filmes.columns = ['filmeId', 'titulo', 'generos']
print(filmes.shape)
filmes.head()

(9742, 3)

,filmeId,titulo,generos
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [3]:
notas = pd.read_csv('./dataset/ratings.csv')
notas.columns = ['usuarioId', 'filmeId', 'nota', 'momento']
print(notas.shape)
notas.head()

(100836, 4)

   usuarioId  filmeId  nota    momento
0          1        1   4.0  964982703
1          1        3   4.0  964981247
2          1        6   4.0  964982224
3          1       47   5.0  964983815
4          1       50   5.0  964982931

### Resumo das notas

In [4]:
notas.describe()

           usuarioId        filmeId           nota       momento
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

### Primeira tentativa de recomendação: indicando os mais populares pelo total de votos

In [5]:
filmes.set_index('filmeId', inplace=True)

total_de_votos = notas['filmeId'].value_counts()

filmes['total_de_votos'] = total_de_votos
filmes.sort_values('total_de_votos', ascending=False).head(10)

,titulo,generos,total_de_votos
filmeId,,,
356,Forrest Gump (1994),Comedy|Drama|Romance|War,329.0
318,"Shawshank Redemption, The (1994)",Crime|Drama,317.0
296,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,307.0
593,"Silence of the Lambs, The (1991)",Crime|Horror|Thriller,279.0
2571,"Matrix, The (1999)",Action|Sci-Fi|Thriller,278.0
260,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,251.0
480,Jurassic Park (1993),Action|Adventure|Sci-Fi|Thriller,238.0
110,Braveheart (1995),Action|Drama|War,237.0
589,Terminator 2: Judgment Day (1991),Action|Sci-Fi,224.0
527,Schindler's List (1993),Drama|War,220.0

### Segunda tentativa de recomendação: indicando os mais populares pela média das notas e total de votos a partir de 50

In [6]:
notas_medias = notas.groupby('filmeId').mean()['nota']
filmes['nota_media'] = notas_medias
filmes.query('total_de_votos>=50').sort_values('nota_media', ascending=False).head(10)

,titulo,generos,total_de_votos,nota_media
filmeId,,,,
318,"Shawshank Redemption, The (1994)",Crime|Drama,317.0,4.429022
858,"Godfather, The (1972)",Crime|Drama,192.0,4.289062
2959,Fight Club (1999),Action|Crime|Drama|Thriller,218.0,4.272936
1276,Cool Hand Luke (1967),Drama,57.0,4.271930
750,Dr. Strangelove or: How I Learned to Stop Worr...,Comedy|War,97.0,4.268041
904,Rear Window (1954),Mystery|Thriller,84.0,4.261905
1221,"Godfather: Part II, The (1974)",Crime|Drama,129.0,4.259690
48516,"Departed, The (2006)",Crime|Drama|Thriller,107.0,4.252336
1213,Goodfellas (1990),Crime|Drama,126.0,4.250000
912,Casablanca (1942),Drama|Romance,100.0,4.240000

### Recomendação baseada em similaridade de gênero

In [7]:
eu_assisti = [1, 21, 19, 10, 11, 7, 2]
filmes.loc[eu_assisti]

,titulo,generos,total_de_votos,nota_media
filmeId,,,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,215.0,3.920930
21,Get Shorty (1995),Comedy|Crime|Thriller,89.0,3.494382
19,Ace Ventura: When Nature Calls (1995),Comedy,88.0,2.727273
10,GoldenEye (1995),Action|Adventure|Thriller,132.0,3.496212
11,"American President, The (1995)",Comedy|Drama|Romance,70.0,3.671429
7,Sabrina (1995),Comedy|Romance,54.0,3.185185
2,Jumanji (1995),Adventure|Children|Fantasy,110.0,3.431818

In [8]:
aventura_infantil_fantasia = filmes.query('total_de_votos>=50 & generos=="Adventure|Children|Fantasy"')
aventura_infantil_fantasia.drop(eu_assisti, errors='ignore').sort_values('nota_media', ascending=False)

,titulo,generos,total_de_votos,nota_media
filmeId,,,,
4896,Harry Potter and the Sorcerer's Stone (a.k.a. ...,Adventure|Children|Fantasy,107.0,3.761682
41566,"Chronicles of Narnia: The Lion, the Witch and ...",Adventure|Children|Fantasy,62.0,3.443548

### Procurando usuários 'similares'

In [9]:
filmes_com_mais_de_50_votos = filmes.query('total_de_votos>=50')
notas = notas.set_index('filmeId').loc[filmes_com_mais_de_50_votos.index]
notas.reset_index(inplace=True)
notas.head()

   filmeId  usuarioId  nota     momento
0        1          1   4.0   964982703
1        1          5   4.0   847434962
2        1          7   4.5  1106635946
3        1         15   2.5  1510577970
4        1         17   4.5  1305696483

Distância entre dois usuários

In [10]:
def distancia_de_vetores(a, b):
    return np.linalg.norm(a-b)

def notas_usuario(usuario):
    notas_usuario = notas.query('usuarioId==%d' % usuario)[['filmeId', 'nota']].set_index('filmeId')
    return notas_usuario

def distancia_de_usuarios(usuario_id1, usuario_id2, minimo=5):
    notas1 = notas_usuario(usuario_id1)
    notas2 = notas_usuario(usuario_id2)
    diferencas = notas1.join(notas2, lsuffix='_esquerda', rsuffix='_direita').dropna()    
    if len(diferencas) < minimo: return None    
    distancia = distancia_de_vetores(diferencas['nota_esquerda'], diferencas['nota_direita'])
    return [usuario_id1, usuario_id2, distancia]

Distância entre um e todos os usuários

In [11]:
quantidade_de_usuarios = len(notas['usuarioId'].unique())
print('Temos %d usuários' % quantidade_de_usuarios)

Temos 606 usuários

In [12]:
def distancia_de_todos(voce_id, numero_de_usuarios_a_analisar=None):
    todos_usuarios = notas['usuarioId'].unique()    
    if numero_de_usuarios_a_analisar:
        todos_usuarios = todos_usuarios[:numero_de_usuarios_a_analisar]       
    distancias = [distancia_de_usuarios(voce_id, usuario_id) for usuario_id in todos_usuarios]
    distancias = list(filter(None, distancias))
    distancias = pd.DataFrame(distancias, columns=['voce', 'outra_pessoa', 'distancia'])
    return distancias

Procurando os usuários mais próximos

In [13]:
def knn(voce_id, k_mais_proximos=10, numero_de_usuarios_a_analisar=None):
    distancias = distancia_de_todos(voce_id, numero_de_usuarios_a_analisar=numero_de_usuarios_a_analisar)
    distancias = distancias.sort_values('distancia')
    distancias = distancias.set_index('outra_pessoa').drop(voce_id, errors='ignore')
    return distancias.head(k_mais_proximos)

Sugestão baseado em vários usuários

In [14]:
def sugere_para(voce_id, k_mais_proximos=10, numero_de_usuarios_a_analisar=None):
    notas_de_voce = notas_usuario(voce_id)
    filmes_que_voce_ja_viu = notas_de_voce.index
    filtro_minimo = k_mais_proximos/2
    
    similares = knn(voce_id, k_mais_proximos, numero_de_usuarios_a_analisar)  
    usuarios_similares = similares.index
    notas_dos_similares = notas.set_index('usuarioId').loc[usuarios_similares]
    
    recomendacoes = notas_dos_similares.groupby('filmeId').mean()[['nota']]
    aparicoes = notas_dos_similares.groupby('filmeId').count()[['nota']]
    
    recomendacoes = recomendacoes.join(aparicoes, lsuffix='_media_dos_usuarios', rsuffix='_aparicoes_nos_usuarios')
    recomendacoes = recomendacoes.query('nota_aparicoes_nos_usuarios >= %.2f' % filtro_minimo)
    recomendacoes = recomendacoes.sort_values('nota_media_dos_usuarios', ascending=False)
    recomendacoes.drop(filmes_que_voce_ja_viu, errors='ignore', inplace=True)
    return recomendacoes.join(filmes)

Recomendação Knn

In [15]:
sugere_para(500).head(10)

,nota_media_dos_usuarios,nota_aparicoes_nos_usuarios,titulo,generos,total_de_votos,nota_media
filmeId,,,,,,
318,4.6,5,"Shawshank Redemption, The (1994)",Crime|Drama,317.0,4.429022
2571,4.5,5,"Matrix, The (1999)",Action|Sci-Fi|Thriller,278.0,4.192446
2762,4.5,5,"Sixth Sense, The (1999)",Drama|Horror|Mystery,179.0,3.893855
2959,4.2,5,Fight Club (1999),Action|Crime|Drama|Thriller,218.0,4.272936
7153,4.2,5,"Lord of the Rings: The Return of the King, The...",Action|Adventure|Drama|Fantasy,185.0,4.118919

### Testando um usuário novo

In [16]:
def novo_usuario(dados):
    novo_usuario = notas['usuarioId'].max()+1
    notas_novo_usuario = pd.DataFrame(dados, columns=['filmeId', 'nota'])
    notas_novo_usuario['usuarioId'] = novo_usuario
    return pd.concat([notas, notas_novo_usuario])

In [17]:
notas = novo_usuario([[122904, 2], [1246, 5], [2529, 2], [2329, 5], [2324, 5], [1, 2], [7, 0.5], [2, 2], [1196, 1], [260, 1]])
notas.tail()

   filmeId  usuarioId  nota  momento
5        1        611   2.0      NaN
6        7        611   0.5      NaN
7        2        611   2.0      NaN
8     1196        611   1.0      NaN
9      260        611   1.0      NaN

In [18]:
sugere_para(611).head(10)

,nota_media_dos_usuarios,nota_aparicoes_nos_usuarios,titulo,generos,total_de_votos,nota_media
filmeId,,,,,,
318,4.500000,8,"Shawshank Redemption, The (1994)",Crime|Drama,317.0,4.429022
919,4.400000,5,"Wizard of Oz, The (1939)",Adventure|Children|Fantasy|Musical,92.0,3.880435
79132,4.357143,7,Inception (2010),Action|Crime|Drama|Mystery|Sci-Fi|Thriller|IMAX,143.0,4.066434
356,4.350000,10,Forrest Gump (1994),Comedy|Drama|Romance|War,329.0,4.164134
7361,4.312500,8,Eternal Sunshine of the Spotless Mind (2004),Drama|Romance|Sci-Fi,131.0,4.160305
904,4.300000,5,Rear Window (1954),Mystery|Thriller,84.0,4.261905
593,4.222222,9,"Silence of the Lambs, The (1991)",Crime|Horror|Thriller,279.0,4.161290
46578,4.214286,7,Little Miss Sunshine (2006),Adventure|Comedy|Drama,77.0,3.883117
4246,4.200000,5,Bridget Jones's Diary (2001),Comedy|Drama|Romance,65.0,3.623077
4011,4.200000,5,Snatch (2000),Comedy|Crime|Thriller,93.0,4.155914